<div #nResize class="resize-point resize-point-n"
     [style.display]="selected && positions.includes('n') ? 'block' : 'none'"></div>

<div #sResize class="resize-point resize-point-s"
     [style.display]="selected && positions.includes('s') ? 'block' : 'none'"></div>

<div #wResize class="resize-point resize-point-w"
     [style.display]="selected && positions.includes('w') ? 'block' : 'none'"></div>

<div #eResize class="resize-point resize-point-e"
     [style.display]="selected && positions.includes('e') ? 'block' : 'none'"></div>

<div #nwResize class="resize-point resize-point-nw"
     [style.display]="selected && positions.includes('nw') ? 'block' : 'none'"></div>

<div #swResize class="resize-point resize-point-sw"
     [style.display]="selected && positions.includes('sw') ? 'block' : 'none'"></div>

<div #neResize class="resize-point resize-point-ne"
     [style.display]="selected && positions.includes('ne') ? 'block' : 'none'"></div>

<div #seResize class="resize-point resize-point-se"
     [style.display]="selected && positions.includes('se') ? 'block' : 'none'"></div>
